<div class="container">

  <h2>Nuestra Colección</h2>

  <div class="cards">

    <div class="card" *ngFor="let manilla of manillas">

<img
  [src]="manilla.imagen"
  [alt]="manilla.nombre"
  (click)="abrirImagen(manilla.imagen)"
  class="imagen-click">

      <h3>{{ manilla.nombre }}</h3>

      <p>{{ manilla.precio }}</p>

      <a
        class="btn-whatsapp"
        target="_blank"
        href="https://wa.me/573114147623?text=Hola,%20me%20interesa%20la%20manilla%20{{ manilla.nombre }}%20que%20vi%20en%20su%20galería."
      >
        Comprar por WhatsApp
      </a>

    </div>

  </div>

</div>

<!-- Modal -->

<div
  class="modal"
  *ngIf="imagenSeleccionada"
  (click)="cerrarImagen()">

  <img
    [src]="imagenSeleccionada"
    class="modal-img"
    (click)="$event.stopPropagation()">

</div>